<form action="/admin/edit-product" method="POST" enctype="multipart/form-data">
<h1>Edit product</h1>
  <div class="row">

    <div class="col-md-6 mb-3">
      <label for="name" class="form-label">Name</label>
      <input 
        type="text" 
        class="form-control" 
        id="name" 
        name="name" 
        placeholder="Enter name"
        value="{{product.name}}"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label for="category" class="form-label">Category</label>
      <input 
        type="text" 
        class="form-control" 
        id="category" 
        name="category" 
        placeholder="Enter category"
        value="{{product.category}}"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label for="price" class="form-label">Price</label>
      <input 
        type="number" 
        class="form-control" 
        id="price" 
        name="price" 
        placeholder="Enter price"
        value="{{product.price}}"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label for="image" class="form-label">Image (only image types accepted)</label>
      <img src="/product-images/{{product._id}}.jpg" alt="{{product.name}}" style="width: 100px;height:auto">
      <input 
        type="file" 
        class="form-control" 
        id="image" 
        name="image"
      />
    </div>

   <div class="col-md-6 mb-3">
      <label for="category" class="form-label">Description</label>
      <input 
        type="text" 
        class="form-control" 
        id="Description" 
        name="description" 
        placeholder="Enter description"
        value="{{product.description}}"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>